<div class="chart-container">
    <button class="{{buttonList[0]}}" (click)="createNewChart(dailyData,'hour'); changeButtonClass(0)">Intraday</button>
    <button class="{{buttonList[1]}}" (click)="createNewChart(threeMonths,'month'); changeButtonClass(1)">3 Monate</button>
    <button class="{{buttonList[2]}}" (click)="createNewChart(oneYear,'month'); changeButtonClass(2)">1 Jahr</button>
    <button class="{{buttonList[3]}}" (click)="createNewChart(threeYears,'year'); changeButtonClass(3)">3 Jahre</button>
    <button class="{{buttonList[4]}}" (click)="createNewChart(fiveYears,'year'); changeButtonClass(4)">5 Jahre</button>
    <canvas id="MyChart">{{ chart }}</canvas>
</div>